In [ ]:
import numpy as np
import pandas as pd
import yfinance as yf


# Load S&P 500 data (^GSPC)
sp500 = yf.download('^GSPC', start='2022-05-23', end='2025-05-23')

# Display the first few rows of the S&P 500 data
display(sp500.head())

In [2]:
type(sp500)

pandas.core.frame.DataFrame

In [3]:
trimmed_data = sp500[['Close']].copy()

In [4]:
trimmed_data.head()

Price             Close
Ticker            ^GSPC
Date
2022-05-23  3973.750000
2022-05-24  3941.479980
2022-05-25  3978.729980
2022-05-26  4057.840088
2022-05-27  4158.240234

In [5]:
trimmed_data.index

DatetimeIndex(['2022-05-23', '2022-05-24', '2022-05-25', '2022-05-26',
               '2022-05-27', '2022-05-31', '2022-06-01', '2022-06-02',
               '2022-06-03', '2022-06-06',
               ...
               '2025-05-09', '2025-05-12', '2025-05-13', '2025-05-14',
               '2025-05-15', '2025-05-16', '2025-05-19', '2025-05-20',
               '2025-05-21', '2025-05-22'],
              dtype='datetime64[ns]', name='Date', length=753, freq=None)

In [7]:
trimmed_data.columns

MultiIndex([('Close', '^GSPC')],
           names=['Price', 'Ticker'])

In [ ]:
trimmed_data['Close'] = np.log(trimmed_data['Close'] / trimmed_data['Close'].shift(1))